<!-- stop-edit-dialog.component.html -->
<form [formGroup]="editForm">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Название" />
    <mat-error *ngIf="editForm.get('name')?.hasError('required')">
      Название обязательно.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="abbreviation" placeholder="Сокращение" />
    <mat-error *ngIf="editForm.get('abbreviation')?.hasError('required')">
      Сокращение обязательно.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="address" placeholder="Адрес" />
  </mat-form-field>

  <mat-checkbox formControlName="depot">Депо</mat-checkbox>

  <!-- Кнопки в MatDialogActions -->
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Отмена</button>
    <button mat-raised-button color="primary" (click)="onSave()">Сохранить</button>
  </mat-dialog-actions>
</form>
