

<style>


  main {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }


  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 97%;
      background: gray;
      /*margin-block: 1.5rem;*/
    }
  }
</style>

<main class="main">
  <div class="container">
    <!-- Левая часть -->
    <div class="left-panel">
      <header>
        <h1>Hello, osm-map-app</h1>
        <p>Congratulations! Your app is running. 🎉</p>
      </header>

      <nav>
      </nav>
      <button (click)="addRandomPoint()">Добавить случайную точку</button>
        <div>
          <app-stop-point-list></app-stop-point-list>
        </div>
    </div>

    <!-- Правая часть (карта) -->
    <div class="right-panel">
      <app-map></app-map> <!-- Вставляем компонент карты -->
    </div>
  </div>
</main>




<!--<router-outlet />-->
