<style>





</style>

<main class="main">
  <div class="container">
    <!-- Левая часть -->
    <div class="left-panel">


      <!-- Вкладки для переключения между таблицами -->
      <mat-tab-group>
        <mat-tab label="Точки остановки">
          <app-stop-point-list></app-stop-point-list>
        </mat-tab>
        <mat-tab label="Остановки">
          <app-stop-list></app-stop-list>
        </mat-tab>
      </mat-tab-group>
    </div>

    <!-- Правая часть (карта) -->
    <div class="right-panel">
      <app-map></app-map> <!-- Вставляем компонент карты -->
    </div>
  </div>
</main>
