/* Основной контейнер */
.container {
  width: 100vw; /* 100% ширины экрана */
  height: 100vh; /* 100% высоты экрана */
  box-sizing: border-box; /* Учитывает padding и border в ширине */
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr; /* Левая колонка = 1 часть, правая = 2 части */
  grid-template-rows: 100vh; /* Высота контейнера = вся высота viewport */
  max-height: 97%;
}

/* Левая панель */
.left-panel {
  background-color: #f9f9f9; /* Цвет фона левой панели */
  padding: 20px;
  overflow-y: auto; /* Добавляем прокрутку, если контент не помещается */
}

/* Правая панель (карта) */
.right-panel {
  background-color: #ffffff; /* Цвет фона правой панели */
}

/* Стили для карты */
#map {
  height: 99%; /* Карта занимает всю высоту правой панели */
  width: 99%; /* Карта занимает всю ширину правой панели */
}
