<h2>Список точек остановки</h2>

<!-- Таблица с точками -->
<div *ngIf="stopPoints.length > 0; else noData">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Описание</th>
      <th>Координаты</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stopPoint of stopPoints">
      <td>{{ stopPoint.persistent.id }}</td>
      <td>{{ stopPoint.persistent.name }}</td>
      <td>{{ stopPoint.persistent.description }}</td>
      <td>{{ stopPoint.point.y }}, {{ stopPoint.point.x }}</td>
      <td>
        <button (click)="editStopPoint(stopPoint)">Редактировать</button>
        <button (click)="deleteStopPoint(stopPoint.persistent.id!)">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <p>Точки остановки отсутствуют.</p>
</ng-template>




<!-- Кнопка для создания случайной точки -->
<button (click)="addRandomStopPoint()">Создать случайную точку остановки</button>

