<div class="container">
<h2>Список точек остановки</h2>

<button (click)="addRandomStopPoint()"> Добавить случайную точку остановки</button>
<!-- Проверяем, есть ли данные -->
<div *ngIf="stopPoints.length > 0 && stopPoints; else noData">

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Описание</th>
      <th>Координаты</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stopPoint of stopPoints">
      <td>{{ stopPoint.persistent.id }}</td>
      <td>{{ stopPoint.persistent.name }}</td>
      <td>{{ stopPoint.persistent.description }}</td>
      <td>{{ stopPoint.point.latitude }}, {{ stopPoint.point.longitude }}</td>
      <td>
        <button (click)="editStopPoint(stopPoint)">Редактировать</button>
        <button (click)="deleteStopPoint(stopPoint.persistent.id!)">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Сообщение, если данных нет -->
<ng-template #noData>
  <p>Точки остановки отсутствуют.</p>
</ng-template>


</div>
